# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
env/
ENV/

# Model files
*.pkl
*.joblib

# Environment variables
.env

# OS-specific
.DS_Store
Thumbs.db

# Logs and temp
*.log
*.tmp

# VSCode or IDE
.vscode/
.idea/